<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Call Center</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="estilo.css">
</head>

<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="img/call-center.png" width="30" height="30" class="d-inline-block align-top no-seleccionable" alt="">
    Call Center
  </a>
  <span class="navbar-text no-seleccionable">
      BLANCA   ÁLVAREZ  ÁLVARrEZ
    </span>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar sesión</button>
</nav>
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb no-seleccionable">
      <li class="breadcrumb-item active " aria-current="page">Deudores</li>
    </ol>
  </nav>
<div class="tabla-c">
  <table class="table table-hover no-seleccionable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">RFC</th>
      <th scope="col">Sucursal</th>
      <th scope="col">Estado</th>
      <th scope="col">EstatusT</th>
    </tr>
  </thead>
  <tbody id="tabladeu">
    <tr onclick="location='deudor.html'">
      <th scope="row">1532545</th>
      <td>ARNALDO  MANUEL  ALVARENGA  ALVARENGA </a></td>
      <td>4564568658</td>
      <td>25</td>
      <td>AAAA711227M65</td>
      <td>A</td>
      <td>A</td>
    </tr>
  </tbody>
</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function getTimeAJAX() {

//GUARDAMOS EN UNA VARIABLE EL RESULTADO DE LA CONSULTA AJAX    

var time = $.ajax({

    url: '/localhost:3003/index-call', //indicamos la ruta donde se genera la hora
        dataType: 'JSON',//indicamos que es de tipo texto plano
        async: false     //ponemos el parámetro asyn a falso
}).responseText;

//actualizamos el div que nos mostrará la hora actual
document.getElementById("tabladeu").innerHTML = time;
}

//con esta funcion llamamos a la función getTimeAJAX cada segundo para actualizar el div que mostrará la hora
setInterval(getTimeAJAX,1000);

    </script>

</body>
</html>